<div>
  <div class="space-y-3.5">
    <h2 class="text-2xl italic font-bold font-jetBrains text-frost-2 text-left">About Me</h2>
<p class="font-jetBrains leading-7 text-sm text-snow-storm-2 text-left">
  I'm a
  <span class="font-jetBrains text-sm text-snow-storm-2 bg-transparent" [class.highlight-left]="isHovered()=== true"
    [class.highlight]="isHovered() === false">computer science</span> with
  <span class="font-jetBrains text-sm text-snow-storm-2 bg-transparent"
    [class.highlight-left]="isHovered()=== true" [class.highlight]="isHovered() === false">four months of experience</span>. I have
  <span class="font-jetBrains text-sm text-snow-storm-2 bg-transparent" [class.highlight-left]="isHovered()=== true"
    [class.highlight]="isHovered() === false">networking knowledge</span> and specialize in
  <span class="font-jetBrains text-sm text-snow-storm-2 bg-transparent"
    [class.highlight-left]="isHovered()=== true" [class.highlight]="isHovered() === false">backend development</span>, <span class="font-jetBrains text-sm text-snow-storm-2 bg-transparent"
    [class.highlight-left]="isHovered()=== true" [class.highlight]="isHovered() === false">OS repair and optimization</span>, building reliable solutions.
</p>

  </div>
</div>
