.highlight {
  display: inline-block;
  height: 75%;
  padding: 0 0;
  animation-fill-mode: forwards;
  background-image: linear-gradient(to right,
      var(--color-frost-2) 100%);
  background-repeat: no-repeat;
  margin: 0 0;
  background-size: 100% 100%;
  background-position: 0 0;
  animation: highlight 1s ease-in-out forwards;
}

.highlight-active{
    background-size: 0% 100%;

}


@keyframes highlight {
  from{
    background-size: 100% 100%;
}
  to {
    background-size: 0% 100%;
  }
}

.highlight-left {
  padding: 0 0;
  display: inline-block;
  height: 80%;
  background-image: linear-gradient(to right,
      var(--color-frost-2) 100%);
  background-repeat: no-repeat;
  margin: 0 0;
  background-size: 0% 100%;
  background-position: 0 0;
  animation: fillBackground 1s ease-in-out forwards;
}
@keyframes fillBackground {
  from{
    background-size: 0% 100%;
}
  to {
    background-size: 100% 100%;
  }
}

