<div>
  <div class="space-y-3.5">
    <h2 class="text-2xl italic font-bold font-jetBrains text-frost-2">Internships</h2>
    <div class="flex flex-row items-start gap-1">
      <img src="amen-bank-darck.png" alt="Amen Bank" class="w-9 h-9 object-cover">
      <h3 class="text-frost-1 inline">Amen Bank</h3>
    </div>
    <p class="font-jetBrains text-sm text-snow-storm-2">
      ioioioioioioioi
    </p>
      <div class="flex flex-row gap-1.5 items-start mt-8">
      <img src="nexits_logo.jpeg" alt="nexits" class="w-8 h-8 object-cover">
      <h3 class="text-frost-1 inline">Nexits</h3>
    </div>
    <p class="font-jetBrains text-sm text-snow-storm-2">
      ioioioioioioioi
    </p>

  </div>
