<div class="flex flex-row items-center gap-1.5">
  <a href="https://github.com/sfeedbackx" target="_blank" class="linux-git-filter">
    <img src="github.png" alt="Github Icon" class="w-9 h-9 object-cover transition ease-in-out snow-filter ">
  </a>
  <a href="https://www.linkedin.com/in/ahmed-khalil-sfar-a64778316" target="_blank" class="docker-filter">
    <img src="linkedin.png" alt="Linkedin Icon" class="w-8 h-8 object-cover snow-filter
      transition ease-in-out">
  </a>
  <a href="mailto:sfarahmed32@gmail.com" target="_blank" class="nestjs-filter">
    <img src="gmail.png" alt="Gmail Icon" class="w-8 h-8 object-cover snow-filter transition ease-in-out">
  </a>
</div>
