<div>
  <div class="flex flex-col gap-5">
    <h2 class="text-2xl italic font-bold font-jetBrains text-frost-2">About Me</h2>
    <div class="flex flex-row gap-5 flex-wrap max-w-[43.75rem]">
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="node-js.png" alt="express-js" class="w-7 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="spring-boot.png" alt="express-js" class="w-26 object-cover">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="" alt="express-js" class="w-26 object-cover
           snow-filter ">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 object-cover snow-filter">
      </div>
    </div>

  </div>
</div>
