<div>
  <div class="flex flex-col gap-5">
    <h2 class="text-2xl italic font-bold font-jetBrains text-frost-2">{{Technologies()}}</h2>
    <div class="flex flex-row gap-5 flex-wrap max-w-[43.75rem]">
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="node-js.png" alt="node-js" class="w-7 object-cover h-26 snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="spring-boot.png" alt="spring-boot" class="w-26 h-26 object-cover">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="express-js.png" alt="express-js" class="w-26 h-26 object-cover snow-filter">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="angular.png" alt="angular" class="w-26 object-cover h-26
           snow-filter ">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="Nest-js.png" alt="Nest-js" class="w-26  object-cover snow-filter h-26">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="docker.png" alt="docker" class="w-26 object-cover snow-filter h-26">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="react.png" alt="react" class="w-26 object-cover snow-filter h-26">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="linux-logo.png" alt="linux" class="w-26 object-cover snow-filter h-26">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="github.png" alt="github" class="w-26 object-cover snow-filter h-26">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="Tailwind.png" alt="Tailwind" class="w-26 object-cover snow-filter h-26">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="mongoDB.png" alt="mongoDB" class="w-7 object-cover snow-filter h-7">
      </div>
      <div class="w-[6.25rem] h-[2.8125rem] flex border-snow-storm-2 border rounded-lg justify-center
        items-center">
        <img src="postgresql.png" alt="postgresSQL" class="w-7 object-cover snow-filter h-7">
      </div>
    </div>
  </div>
</div>
