/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-snow-storm-2: #ECEFF4;
  --color-polar-night-0: #2E3440;
  --color-polar-night-1: #3B4252;
  --color-frost-1: #88C0D0;
  --color-frost-2: #5E81AC;
  --font-jetBrains: "JetBrains Mono", monospace;
  --spacing-26: 1.625rem;
--shadow-pro-in: 0 0 0 1px rgba(236, 239, 244, 0.05);

}

body {
  background-color: var(--color-polar-night-0);
  justify-content: center;
  align-items: center;
}

.snow-filter {
  --filter-invert:brightness(0) invert(97%) sepia(16%) saturate(498%) hue-rotate(176deg) brightness(99%) contrast(93%);
  filter: var(--filter-invert);
}
.nodejs-filter:hover img{
  --filter-hover:brightness(0) invert(38%) sepia(86%) saturate(354%) hue-rotate(71deg) brightness(97%) contrast(88%);
  filter: var(--filter-hover);
}
.springboot-filter:hover{
  --filter-hover:brightness(0) invert(53%) sepia(85%) saturate(343%) hue-rotate(53deg) brightness(100%) contrast(84%);
  filter: var(--filter-hover);
}
.expressjs-filter:hover{
  --filter-hover:brightness(0) invert(69%) sepia(76%) saturate(336%) hue-rotate(12deg) brightness(107%) contrast(95%);
  filter: var(--filter-hover);
}
.angularjs-filter:hover{
  --filter-hover:brightness(0) invert(32%) sepia(39%) saturate(3158%) hue-rotate(339deg) brightness(80%) contrast(122%);
  filter: var(--filter-hover);
}
.nestjs-filter:hover{
  --filter-hover:brightness(0) invert(26%) sepia(64%) saturate(4966%) hue-rotate(337deg) brightness(94%) contrast(93%);
  filter: var(--filter-hover);
}
.docker-filter:hover{
  --filter-hover:brightness(0) invert(28%) sepia(32%) saturate(7500%) hue-rotate(216deg) brightness(97%) contrast(91%);
  filter: var(--filter-hover);
}
.react-filter:hover{
  --filter-hover:brightness(0) invert(80%) sepia(13%) saturate(2105%) hue-rotate(158deg) brightness(100%) contrast(98%);
  filter: var(--filter-hover);
}
.linux-git-filter:hover{
  --filter-hover:brightness(0) invert(7%) sepia(1%) saturate(5149%) hue-rotate(201deg) brightness(88%) contrast(112%);
  filter: var(--filter-hover);
}
.tailwind-filter:hover{
  --filter-hover:brightness(0) invert(67%) sepia(49%) saturate(6169%) hue-rotate(151deg) brightness(97%) contrast(104%);
  filter: var(--filter-hover);
}
.mongodb-filter:hover{
  --filter-hover:brightness(0) invert(56%) sepia(58%) saturate(522%) hue-rotate(65deg) brightness(95%) contrast(89%);
  filter: var(--filter-hover);
}
.postgress-filter:hover{
  --filter-hover:brightness(0) invert(35%) sepia(10%) saturate(4616%) hue-rotate(169deg) brightness(87%) contrast(71%);
  filter: var(--filter-hover);
}
